<!DOCTYPE html>
{% extends 'client/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Thekedar{% endblock %}

{% block content %}



   <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="{% static 'img/avataaars.svg' %} " alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0"><i>Thekedar.com</i></h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Thankyou.... Please login to access all <service class=""></service></p>

    </div>
  </header>



{% endblock %}